/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 300px; /* Full width */
    height: 100px;
    float: right;

      /* Full height */
   
     
}


/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 65%;
    height: 280px;
    
    
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;

}

/*the calculator style*/
 input#button1{
            background: lightgray;
            width:17%;
            font-size: 20px;
            font-weight: 900;
            margin: 2%;
            border-radius: 4%;

        }
        input#text1{
            display: block;
            position: relative;
            font-size: 20px;
            width: 90%;
            margin: 5px auto;
        }
 @media screen and (max-height: 450px) {

     .modal{
        width: 100%;
     }
     .modal-content{
        width: 100%;
     }

}